body {
  background: #000;
  font-family: sans-serif;
}

.nav {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: #000;
}

.nav a {
  color: blueviolet;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 4px 6px;
  transition: 0.1s ease-out;
}

.nav a:hover {
  background: blueviolet;
  color: #000;
  box-shadow: 0 0 8px blueviolet;
}

.dropdown {
  position: relative;
}

.dropbtn {
  width: 100%;
  background: #000;
  color: blueviolet;
  padding: 4px 6px;
  font-size: 18px;
  border: none;
  text-align: left;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: inherit;
  transition: 0.1s ease-out;
}

.dropbtn:hover {
  background: blueviolet;
  color: #000;
  box-shadow: 0 0 8px blueviolet;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background: #000;
  border: 1px solid blueviolet;
  z-index: 10;
  min-width: 160px;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: blueviolet;
  text-decoration: none;
}

.dropdown-content a:hover {
  background: blueviolet;
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}




