body {
  font-family: sans-serif;
  margin: 20px;
  padding: 20px;
  opacity: 1;
  font-size: x-large; 
  text-align: center;
}
div {
  display: grid;
  place-items: center;
  height: 40px;
  border: 1px solid rgb(0, 0, 0);
}
img {
  width: 400px;
  height: autoscale;
}
body {
  background-color: rgb(255, 255, 255);
  place-items: center; 
}
h1 {
  color: blue;
}
a:hover {
  color: peru;
}