div {
  place-items: center;
  height: 200px;
}
.blue {
  display: flex;
  justify-content: center;
  align-items: center;
  background: cyan;
  height: 50px;
  width: 50px;
  background-color: whitesmoke;
  width: 50px;
}

.blue {
  background: rgb(40, 201, 255);
  opacity: 0.9;
  padding: 60px;
  width: 300px;
  height: 300px;
}

.gray {
  background: rgb(191, 181, 181);
  padding: 65px;
  width: 200px;
  height: 200px;
}

.white {
  background: white;
  width: 100px;
  height: 100px;
  padding-top: 60px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 90px;
}

.yellow {
  background: #FFD700;
  padding: 60px;
  width: 50px;
  height: 50px;
}
