  body {
  font-family: sans-serif;
  color: #111;
  background-color: rgb(83, 16, 16);
  background-image: url("ETERNALLOVE.png"); scale: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; opacity: 1.0;
  padding: 20px; 
  margin: 60px auto;
  max-width: 900px;
  line-height: 1.6;
}

header {
  text-align: center;
  color: white;
  border-top: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  padding: 20px 0;
  margin-bottom: 40px;
}

header h1 {
  margin: 0;
  font-size: 32px;
  letter-spacing: 3px;
  text-align: justify;
}

.subheader {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  text-transform: uppercase;
  border-top: 1px solid black;
  margin-top: 5px;
  padding-top: 5px;
}

.intro {
  text-align: left;
  margin-bottom: 50px;
  font-style: italic;
  font-size: 15px;
  color: rgb(255, 255, 255);
}

.craigslist {
  font-size: 12px;
  text-transform: uppercase;
  color: rgb(180, 167, 255);
  margin-top: 24px;
}

.posted {
  display: block;
  margin-top: 4px;
  font-style: normal;
}

main {
  color: #ffffff;
  display: flex;
  gap: 60px;
  
}

.column {
  width: 50%;
  font-size: 15px;
}

.column p {
margin-top: 24px;
  margin-bottom: 24px; 
}

img {
    position: absolute;
    top: 100%; left: 20%;
    
}