.carousel {
    margin: 100px auto;
    width: 90%;
    border: 5px solid black;
    display: flex;
    overflow-x: auto;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 20s infinite linear;
    padding-right: 1em;
}

.item {
    flex: 0 0 5em;
    height: 5em; width: auto;
    padding: 1em;
    background: black;
    font-size: 20px;
    color: white;
    border-radius: 0em;
    text-align: center;
    align-content: center;
}
@keyframes spin {
    from{ translate:0; }
    to {translate:-100%; }
}