body {
  font-family: sans-serif;
  text-align: center;
  font-size: small;
  background-color: rgb(0, 0, 0);
  
}
header{
  font-size: medium;
  letter-spacing: 5px;
  padding-bottom: -100px;
  color: rgb(255, 255, 255);
}
p {
  color: rgb(58, 38, 123);
}
a {
  color: rgb(255, 192, 203);
}
a:hover {
  color: peru; }

.promo {
  justify-items: left;
  color: white;
  font-size: small;
}

.carousel {
    margin: 0px auto;
    width: 110%;
    border: 0px solid black;
    display: flex;
    overflow-x: auto;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 25s infinite linear; 
    padding-right: 1em;
}

.item {
    flex: 0 0 5em;
    height: 400px; width: auto;
    padding: 1em;
    background: black;
    font-size: 20px;
    color: white;
    border-radius: 0em;
    text-align: center;
    align-content: center;
    z-index: 1;
}
@keyframes spin {
    from{ translate:0; }
    to {translate:-100%; }
}


