* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  cursor: none;
}

.overlay-text {
  position: absolute;
  z-index: 2;
  color: rgb(113, 26, 206);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
}

.overlay-text h1 {
  font-size: 10px;
}

.overlay-text p {
  font-size: 10px;
  line-height: 1.5px;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#flashlight {
  pointer-events: none;
  --Xpos: 50vw;
  --Ypos: 50vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#flashlight:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle 15em at var(--Xpos) var(--Ypos),
 rgba(0,0,0,0),
 rgba(0,0,0,1));
  position: absolute;
  top: 0;
  left: 0;
}

