body {background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vw;
}

.header {
  opacity: 1;
  color: whitesmoke;
  font-size: x-large;
  font-family: sans-serif;
    text-align: center;
    letter-spacing: 25px;
}
.subheader {
  font-size: xx-large;
  font-family: sans-serif;
  text-align: center;
  color: whitesmoke;
  margin-top: -25px;

  .container {
    position: relative; }

}
.container img {
      position: relative;
      display: grid;   
      opacity: 1.0;
      width: 90%;
      height: 100%;
      align-items: center;
      justify-items: center;
      margin: auto;
        border-radius: 10px;
        z-index: -1;
    }

    .overlay-text {
    font-family: sans-serif; height: 20px; width: auto;
      position: absolute;
      top: 25%;         
      left: 50%;        
      transform: translate(-50%, -50%); 
      color: white;
      font-size: 24px;
      line-height: 26px;
      font-weight: bold;
      text-align: center; 
      padding: 10px 20px;
      border-radius: 10px;
    }
    
 .overlay-text:hover {
  color: peru; }

  .belowtext {
    padding-left: 75px;
  color: whitesmoke;}
  .cliffimg {position: relative; 
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 0px;
    width: 50%;
    height: 50%;
    padding-left: 35px; 
  }

.cliff-row {
  display: flex;
  justify-content: center;
  gap: 10px;    
  flex-wrap: wrap;  
}


.cliffimg img,
.ponyimg img {
  width: 85%;
  transform: translate(-3%, 0%);
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
  display: block;
}

.cliffimg,
.ponyimg {
  flex: 1 1 30%;
  position: relative;
}

.bellytext {
  position: absolute;
  top: 50%;             
  left: 40%;
  transform: translate(-50%, -75%);
  max-width: 60%;   
  max-height: 60%;    
  color: rgb(9, 95, 79);
  font-family: sans-serif;
  font-size: larger;
  line-height: 1.3;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
}

.ponytext {
  position: absolute;
  top: 50%;             
  left: 50%;
  transform: translate(-20%, -50%);
  max-width: 60%;
  color: yellow;
  font-family: sans-serif;
  font-size: larger;
  line-height: 1.5;
  text-align: right;
  padding: 20px;
  border-radius: 10px;
}
.belowtext {
  text-align: center;
  max-width: 400x;
  font-family: monospace;
 padding-top: 100px;
}