.day {font-family: sans-serif;}
.hour {font-family: sans-serif;}
.minute {font-family: sans-serif;}
.second {font-family: sans-serif;}

.countdown-timer {
  text-align: center;
  font-family: Arial, sans-serif;
  color: blueviolet;
  padding: 20px;
  border-radius: 10px;
  width: 1000px;
  margin: auto;
}

body {
  background: url("INVERTFLYER.jpg") no-repeat center center fixed; 
  background-size: cover;
  z-index: 1;
  color: #000000;
  transition: background 0.4s ease, color 0.4s ease;
}
