body {
  background-color: black;
   opacity: 0.8; }
  div {
 display: grid;
  place-items: center;
  height: 400;
  border: 1 solid black;
}
img {
  width: 50%;
}
}
body {
  font-family: monospace;
}
h1 {
  color: rgb(255, 0, 0);
}
p {
  color: rgb(0, 123, 185);
}
p {
  color: rgb(0, 123, 185);
}
a:hover {
  color: peru }