div {
  background-color: black;
   opacity: 0.3;
}

body {
  font-family: monospace;
}
h1 {
  color: rgb(255, 0, 0);
}
p {
  color: rgb(255, 255, 255);
}
p {
  color: rgb(255, 255, 255);
}
a:hover {
  color: peru }