body {
  background-color: black;
   opacity: 0.8; }
  div {
 display: grid;
  place-items: center;
  height: 200;
  border: 1 solid black;
}
.my-image {
  width: 250px;
}

.my-image:hover {
  transition: width 1s ease;
  width: 600px;
}
img {
  width: 100;
}
body {
  font-family: monospace;
}
h1 {
  color: rgb(255, 0, 0);
}
p {
  color: rgb(0, 123, 185);
}
p {
  color: rgb(0, 123, 185);
}
a:hover {
  color: peru }